@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

@font-face { font-family: calibri; src: url("fonts/calibri.eot"); src: url("fonts/calibri.eot?#iefix") format("embedded-opentype"), url("fonts/calibri.woff2") format("woff2"), url("fonts/calibri.woff") format("woff"), url("fonts/calibri.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: calibri_L; src: url("fonts/calibri_L.eot"); src: url("fonts/calibri_L.eot?#iefix") format("embedded-opentype"), url("fonts/calibri_L.woff2") format("woff2"), url("fonts/calibri_L.woff") format("woff"), url("fonts/calibri_L.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: calibri_LI; src: url("fonts/calibri_LI.eot"); src: url("fonts/calibri_LI.eot?#iefix") format("embedded-opentype"), url("fonts/calibri_LI.woff2") format("woff2"), url("fonts/calibri_LI.woff") format("woff"), url("fonts/calibri_LI.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: calibri_B; src: url("fonts/calibri_B.eot"); src: url("fonts/calibri_B.eot?#iefix") format("embedded-opentype"), url("fonts/calibri_B.woff2") format("woff2"), url("fonts/calibri_B.woff") format("woff"), url("fonts/calibri_B.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: acrom_extrabold; src: url("fonts/acrom_extrabold.eot"); src: url("fonts/acrom_extrabold.eot?#iefix") format("embedded-opentype"), url("fonts/acrom_extrabold.woff2") format("woff2"), url("fonts/acrom_extrabold.woff") format("woff"), url("fonts/acrom_extrabold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
a { text-decoration: none; }
a:hover { color: black; }
a:link { color: black; }
a:visited { color: black; }
a:active { color: black; }

body { min-width: 940px; }

.out { background: white; }

.l-center { position: relative; max-width: 940px; margin: 0 auto; z-index: 100; }

.page-header { font-size: 24px; font-family: "Calibri Light", Arial, sans-serif; *zoom: 1; }
.page-header:after { content: " "; display: table; clear: both; }
.page-header .page-header__logo-page { display: inline-block; padding: 5px 0 5px 20px; }
.page-header .page-header__menu { display: inline-block; vertical-align: top; }
.page-header .page-header__menu ul { display: inline-block; text-transform: uppercase; line-height: 130px; }
.page-header .page-header__menu ul li { display: inline-block; padding-left: 45px; }
.page-header .page-header__menu ul li a { text-decoration: underline; }
.page-header .page-header__menu ul li a:hover { color: #f9cf09; }
.page-header .page-header__tools { float: right; padding-top: 45px; text-align: center; vertical-align: middle; }

.button { padding: 5px; background: #f9cf09; text-align: center; }
.button a { padding: 5px; color: white; font-size: 25px; font-family: "Calibri", Arial, sans-serif; }
.button:hover { background: #ffe04c; }

.promo { position: relative; height: 700px; color: white; *zoom: 1; }
.promo:after { content: " "; display: table; clear: both; }
.promo h1 { color: white; line-height: 50px; text-align: center; font-size: 40px; padding: 200px 0; text-shadow: 0 0 10px black; }
.promo .promo__cycle { width: 100%; height: 700px; position: absolute; top: 0; left: 0; }
.promo .promo__cycle .cycle-next, .promo .promo__cycle .cycle-prev { position: absolute; top: 50%; height: 700px; width: 100px; z-index: 200; cursor: pointer; }
.promo .promo__cycle .cycle-prev { left: 50px; background: url('../img/icons-s13823b6116.png') 0 -104px no-repeat; width: 33px; height: 64px; }
.promo .promo__cycle .cycle-next { right: 50px; background: url('../img/icons-s13823b6116.png') 0 -30px no-repeat; width: 33px; height: 64px; }
.promo .promo__cycle .cycle-item { width: 100%; height: 700px; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.promo .promo__wrap { position: absolute; top: 0; left: 0; }
.promo .promo__wrap .event { width: 25.53191%; height: 13.82979%; margin-left: 60px; float: left; position: relative; background: rgba(249, 207, 9, 0.7); text-align: left; padding: 20px; }
.promo .promo__wrap .event span { font-size: 24px; font-family: "Acrom Extra Bold", Arial, sans-serif; padding-bottom: 10px; }
.promo .promo__wrap .event p { font: 16px; font-family: "Calibri", Arial, sans-serif; }
.promo .promo__wrap .event img { position: absolute; top: -60px; right: 0; }
.promo .promo__wrap .share { width: 185px; height: 185px; margin: -50px 60px 0 0; float: right; -webkit-border-radius: 50%; border-radius: 50%; background: rgba(19, 24, 5, 0.7); text-align: center; }
.promo .promo__wrap .share p { font-size: 22px; font-family: "Calibri", Arial, sans-serif; padding-top: 30px; }
.promo .promo__wrap .share .button_small { width: 50%; height: 20px; margin: 10px auto; }
.promo .promo__wrap .share .button_small a { font-size: 16px; font-family: "Calibri", Arial, sans-serif; }

.main-title { font-size: 36px; font-family: "Calibri Bold", Arial, sans-serif; text-align: center; padding: 30px 0 10px; }

.your-choise { position: relative; height: 700px; font-size: 14px; font-family: "Calibri Light", Arial, sans-serif; }
.your-choise .your-choise__logo { position: absolute; top: 50px; left: 24%; }
.your-choise .your-choise__item { width: 25%; }
.your-choise .item-1 { position: absolute; top: 5px; left: 20px; }
.your-choise .item-2 { position: absolute; top: 255px; left: 20px; }
.your-choise .item-3 { position: absolute; top: 430px; left: 38%; }
.your-choise .item-4 { position: absolute; top: 255px; right: 0px; }
.your-choise .item-5 { position: absolute; top: 5px; right: 0px; }
.your-choise .item-logo { text-align: center; }
.your-choise .item-title { text-align: center; margin: 1.06383% auto; }
.your-choise .item-text { font-size: 11px; font-family: "Calibri Light", Arial, sans-serif; padding-left: 15px; }

.products { text-align: center; }
.products .products__title span { text-transform: uppercase; letter-spacing: 2px; font-size: 18px; font-family: "Calibri Light", Arial, sans-serif; }
.products .products__title p { font-size: 12px; font-style: italic; font-family: "Calibri Light Italic", Arial, sans-serif; }
.products .products__items { margin: 2.12766% 0; font-size: 0; }
.products .products__items img { display: inline-block; }
.products .products__button { width: 25%; margin: 2.65957% auto; }

.about { text-align: center; }
.about p { padding: 20px 0; text-align: left; font-size: 18px; font-family: "Calibri Light", Arial, sans-serif; }
.about p span { font-size: 18px; font-family: "Calibri Bold", Arial, sans-serif; color: #f9cf09; }

.about__partners span { display: block; padding-bottom: 10px; font-size: 18px; font-family: "Calibri Light", Arial, sans-serif; }
.about__partners span a { text-decoration: underline; }

.contacts { text-align: center; padding: 10px 0; }
.contacts p { font-size: 14px; font-family: "Calibri Light", Arial, sans-serif; }

#map { margin: 20px 0px 50px 0px; height: 370px; }

.overlay { position: fixed; top: 0; bottom: 0; right: 0; left: 0; padding: 50px 0; overflow-y: auto; text-align: center; z-index: 999; }
.overlay i { position: fixed; top: 0; bottom: 0; right: 0; left: 0; background: rgba(19, 24, 5, 0.3); }
.overlay:before { content: ""; display: inline-block; width: 0; }

.popup { position: relative; vertical-align: middle; margin: 0 auto; width: 320px; height: 395px; padding: 15px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: white; display: none; box-shadow: 0 0 19px 2px black; border: 10px solid #f9cf09; }
.popup.is-open { display: inline-block; }
.popup h3 { margin: 5px; font-size: 30px; font-family: "Acrom Extra Bold", Arial, sans-serif; }
.popup_price-list h3 { margin: 10px 5px 25px; }

.form { text-align: left; }
.form .btn { width: 180px; height: 40px; background: #f9cf09; color: white; font-size: 24px; font-family: "Calibri", Arial, sans-serif; }
.form__row { margin-bottom: 25px; -webkit-border-radius: 5px; border-radius: 5px; }
.form__bottom { text-align: center; }

input { width: 100%; height: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; font-family: "Calibri Light", Arial, sans-serif; font-size: 24px; color: black; border: 1px solid #d5d5d5; }
input:focus { border-color: #cdcdcd; background: white; }

.form input[type="text"] { -webkit-border-radius: 5px; border-radius: 5px; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-dots { text-align: center; position: absolute; margin: 20px; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 20px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: white; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }
